h2 {
  text-align: center;
  display: none
}


.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
  margin-bottom: 20px
}

.App-intro {
  font-size: large;
}

#spring + .input-group-addon > svg{
  color:#2f682e
}
#summer + .input-group-addon > svg{
  color:#ff482e
}
#fall + .input-group-addon > svg{
  color:#a0a0a0
}
#winter + .input-group-addon > svg{
  color:#337ab7
}

.list-group-item:nth-child(2n){
  background: #f9f9ff
}

.list-group-item h4{
  float:left;
  line-height: 34px;
  padding: 0;
  margin: 0
}

.list-group-item > div:first-child{
  border-bottom: 1px dashed gainsboro;
  overflow: hidden;
  margin-bottom: 15px;
  padding-bottom: 10px;
}

.demand{
  float: right;
}

.price{
  margin: 15px 0 30px 0
}
